.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
  text-align: center;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.btn {
background: #3aa8f2;
background-image: -webkit-linear-gradient(top, #3aa8f2, #4284ad);
background-image: -moz-linear-gradient(top, #3aa8f2, #4284ad);
background-image: -ms-linear-gradient(top, #3aa8f2, #4284ad);
background-image: -o-linear-gradient(top, #3aa8f2, #4284ad);
background-image: linear-gradient(to bottom, #3aa8f2, #4284ad);
-webkit-border-radius: 8;
-moz-border-radius: 8;
border-radius: 8px;
font-family: Arial;
color: #ffffff;
font-size: 20px;
padding: 10px 20px 10px 20px;
text-decoration: none;
margin-top: 100px;
}

.btn:hover {
background: #70c8ff;
background-image: -webkit-linear-gradient(top, #70c8ff, #368ec9);
background-image: -moz-linear-gradient(top, #70c8ff, #368ec9);
background-image: -ms-linear-gradient(top, #70c8ff, #368ec9);
background-image: -o-linear-gradient(top, #70c8ff, #368ec9);
background-image: linear-gradient(to bottom, #70c8ff, #368ec9);
text-decoration: none;
}
.start{
  text-align: center;
  margin-top: 100px;
}
